h1,
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: azure;
    font-size: 65px;
    text-align: center;
}
.main {
    background-color: crimson;
}
.content {
    background-color: grey;
}
h2 {
    color: yellow;
    font-size: 32px;
}
p {
    color: white;
    font-size: 22px;
}
li {
    color: white;
    font-size: 22px;
}
h3 {
    color: lightyellow;
    font-size: 28px;
}

